.btn-custom{
    background-color: #E76F51;
    color: white;
}
.bg-header{
    background-color: #264653;
}

.paragraph-custom{
    color:#6C6C6C;
} 
.img-gray {
    filter: grayscale(100%);
  }

.text-custom{
    color: #E76F51;
}
.name-custom{
  color: #23A6F0;
}
.border-custom{
    border-bottom: 2px solid #E76F51 ;
}